PORT=5000

# Database Configuration (Isi sesuai detail database Hosting/cPanel/VPS)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=uptd_lab
DB_PORT=3306

# URL Prisma (Gunakan format: mysql://USER:PASSWORD@HOST:PORT/DATABASE)
DATABASE_URL="mysql://root:@localhost:3306/uptd_lab"

# JWT Secret (Gunakan random string panjang di production)
JWT_SECRET="rahasia_super_aman_untuk_lab_uptd_2026"
